<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/photoroster_assets/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
</head>
<body>
<div class="containerDialog">
<div class="panel panel-info">
<div class="panel-heading text-center" style="font-size: xx-large;"><strong style="color: black;">ABOUT</strong></div>
<div class="panel-body" style="width: 600px;font-size: large;">The Photo Roster LTI was created for Northwest Online for faculty to download a class Photo Roster of their students. Only the instructor of record is authorized to use this service.  
<br>
Click on any other navigation option to exit.
<br>
<img style="width: 40%;margin: auto;display: block;" src="/photoroster_assets/img/northwest_logo.png">
</div>
</div>
</div>
<body>
</html>