<html>
<head>
<meta charset="utf-8">
<title>Photo Roster</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/photoroster_assets/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="containerDialog">
<div class="panel panel-info">
<div class="panel-heading text-center" style="font-size: xx-large;"><strong style="color: black;">AUTHORIZATION</strong></div>
<div class="panel-body" style="width: 600px;font-size: large;">You must be the instructor of record to access this service.<br>
Please contact the Learning and Teaching Center for more information.<br>
660-562-1532<br>
<img style="width: 40%;margin: auto;display: block;" src="/photoroster_assets/img/northwest_logo.png">
</div>
</div>
</div>
<body>
</html>